/* Common */

body {
 font-family: 'Roboto', sans-serif;
 color: #434455;
 background-color:#ffffff;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex-grow: 1;
}

.inner-wrapper {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logotype {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-title {
    margin-bottom: 72px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
}

.list-title {
    margin-bottom: 8px;
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.primary-text {
    color: #434455;
}

.secondary-text {
    color: #F4F4FD;
}

.capitalize {
    text-transform: capitalize;
}

/* Page Header */

.header-section {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999999;
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-section .inner-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.logotype-header {
    margin-right: 76px;
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {
    padding: 24px 0;
}

.nav-list .current {
    position: relative;
    color:#404BBF;
}

.current::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
    font-style: normal;
}

.logo-accent-header {
    color: #2E2F42;
}

.nav-item {
    color: #2E2F42;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4,0,0.2,1);
}

.nav-item:hover,
.nav-item:focus {
    color: #404BBF;
}

.contacts-address {
    font-style: normal
}

.contacts-item {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover,
.contacts-item:focus,
.contacts-item:active {
    color: #404BBF;
}

/* Hero Section */

.hero-section {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)), url(../images/page-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
}

.hero-title {
    max-width: 496px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button {
    display: block;
    min-width: 169px;
    margin: 0 auto;
    border-style: none;
    border-radius: 4px;
    padding: 16px 32px;
    background: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Features Section */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list > .list-item {
    width: calc((100% - 72px) / 4);
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #F4F4FD;
    border: 1px solid;
    border-radius: 4px;
    border-color: #8E8F99;
}

/* Our Team */

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-list {
    display: flex;
    flex-direction: row;
    flex-basis: 264px;
    gap: 24px;
}

.team-card {
    background-color: #ffffff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.team-card > .container {
    padding: 32px 0;
}

.container > .primary-text {
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, 
.social-link:focus {
    background-color: #404bbf;
}

.social-list-icon {
    fill: #F4F4FD;
}

/* Our Portfolio */

.portfolio-section {
    padding: 120px 0;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 360px;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card {
    display: block;
    width: calc((100% - 48px) / 3);
    background: #ffffff;
}

.portfolio-card:hover .layout {
    transform: translate(0);
}

.portfolio-card > .wrapper-layout {
    position: relative;
    overflow: hidden;
}

.wrapper-layout > .layout {
    position: absolute;
    top: 0;
    left: 0;
    transform: translatey(100%);
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card > .container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-card:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),0px 1px 1px 0px rgba(46, 47, 66, 0.16),0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Footer */

.footer-section {
    padding: 100px 0px;
    background-color: #2E2F42;
}

.footer-section .inner-wrapper {
    display: flex;
    align-items: baseline;
}

.logotype-footer {
    margin-bottom: 16px;
}

.footer-text {
    max-width: 264px;
}

.logo-accent-footer {
    color: #F4F4FD;
}

.footer-title {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-section .container {
    margin-right: 120px;
}

.footer-section .social-list {
    gap: 16px;
}

.footer-section .social-link:hover,
.footer-section .social-link:focus {
    background-color: #31d0aa;
}

.footer-section .social-media-wrapper {
    margin-right: 80px;
}


.footer-form {
    display: flex;
    gap: 24px;
}

.footer-section .user-email {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid#ffffff;
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-section .user-email::placeholder {
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-form-btn {
    display: flex;
    min-width: 165px;
    justify-content: center;
    align-items: center;
    fill: #fff;
    border-style: none;
    border-radius: 4px;
    padding: 8px 24px;
    background: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    margin-left: 16px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #404BBF;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999999999999999999;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    background: #fcfcfc;
    border-radius: 4px;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus,
.close-btn:active {
    background-color: #404BBF;
}

.close-btn:active .close-icon,
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
    fill: #fff;
}   

.close-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #2E2F42;
}

.input-wrapper {
    position: relative;
}

.review-textarea-wrapper {
    display: block;
    width: 100%;
    color: #8e8f99;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
}

.review-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    padding-left: 38px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-input:focus {
    border-color: #4D5AE5;
}

.review-input:focus + .form-icon {
    fill: #4D5AE5;
}

.review-wrapper {
    margin-bottom: 8px;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2E2F42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-textarea:focus {
    border-color: #4D5AE5;
}

.review-textarea::placeholder {
    color: #2E2F4266;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.review-terms {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-color: #F4F4FD;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.original-checkbox:checked + .review-label > .custom-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.review-link {
    display: inline-block;
    margin-left: 0.7%;
    text-decoration: underline;
    color: #4d5ae5;
}

.submit-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 16px 64px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #404BBF;
}